[Desktop Entry]
Encoding=UTF-8
Name=KommanderPart
Name[ca]=Part del Kommander
Name[de]=Kommander-Komponente
Name[et]=Kommanderi komponent
Name[nds]=Kommander-Komponent
Name[pl]=Moduł Kommandera
Name[sv]=Kommander-delprogram
MimeType=application/x-kommander;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkommander_part
Type=Service
