[Desktop Entry]
Encoding=UTF-8
Name=KommanderPart
Name[sv]=Kommander-delprogram
MimeType=application/x-kommander;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkommander_part
Type=Service
