[Desktop Entry]
Encoding=UTF-8
Comment=Kommander File
Comment[bg]=Файл на Kommander
Comment[br]=Restr Kommander
Comment[ca]=Fitxer de Kommander
Comment[da]=Kommander-fil
Comment[de]=Kommander-Datei
Comment[es]=Archivo de Kommander
Comment[et]=Kommanderi fail
Comment[fr]=Fichier de Kommander
Comment[ga]=Comhad Kommander
Comment[hu]=Kommander-fájl
Comment[it]=File di Kommander
Comment[ja]=Kommander ファイル
Comment[ms]=Fail Kommander
Comment[nl]=Kommander-dialoogbestand
Comment[pa]=Kommander ਫਾਇਲ
Comment[pl]=Plik Kommandera
Comment[pt]=Ficheiro do Kommander
Comment[pt_BR]=Arquivo do Kommander
Comment[ru]=Файл Kommander
Comment[sl]=Datoteka Kommanderja
Comment[sr]=Фајл Kommander-а
Comment[sv]=Kommander-fil
Comment[ta]=Kகட்டளை கோப்பு
Comment[tg]=Файли Kommander
Comment[tr]=Kommander Dosyası
Comment[xx]=xxKommander Filexx
Comment[zh_CN]=Kommander 文件
Icon=widget_doc
Type=MimeType
MimeType=application/x-kommander
Patterns=*.kmdr;

[Property::X-KDE-text]
Type=bool
Value=true

