[Desktop Entry]
Encoding=UTF-8
Comment=Kommander File
Comment[ca]=Fitxer de Kommander
Comment[cs]=Soubor Kommanderu
Comment[da]=Kommander-fil
Comment[de]=Kommander-Datei
Comment[es]=Archivo de Kommander
Comment[et]=Kommanderi fail
Comment[hu]=Kommander fájl
Comment[it]=File di Kommander
Comment[pt]=Ficheiro do Kommander
Comment[pt_BR]=Ficheiro do Kommander
Comment[ru]=Файл Kommander
Comment[sv]=Kommander-fil
Icon=widget_doc
Type=MimeType
MimeType=application/x-kommander
Patterns=*.kmdr;

[Property::X-KDE-text]
Type=bool
Value=true

