[Desktop Entry]
Encoding=UTF-8
GenericName=Dynamic Dialog Editor
GenericName[x-test]=xxDynamic Dialog Editorxx
Name=Kommander Editor
Name[x-test]=xxKommander Editorxx
Exec=kmdr-editor %F
Icon=kmdr-editor
Type=Application
Comment=Dynamic Dialog Editor
Comment[x-test]=xxDynamic Dialog Editorxx
MimeType=application/x-kommander
DocPath=kommander/index.html
Categories=Qt;KDE;Development;
