[Desktop Entry]
Encoding=UTF-8
GenericName=Dynamic Dialog Editor
GenericName[xx]=xxDynamic Dialog Editorxx
Name=Kommander Editor
Name[ca]=Editor Kommander
Name[cs]=Editor Kommanderu
Name[da]=Kommander-editor
Name[de]=Kommander-Editor
Name[el]=Διορθωτής Kommander
Name[es]=Editor Kommander
Name[et]=Kommander redaktor
Name[fa]=ویرایشگر کماندر
Name[fr]=Éditeur Kommander
Name[hu]=Kommander szerkesztő
Name[it]=Editor per Kommander
Name[pt]=Editor do Kommander
Name[pt_BR]=Editor Kommander
Name[ru]=Редактор Kommander
Name[sr]=Kommander-ов уређивач
Name[sv]=Kommander editor
Name[tr]=Kommander Düzenleyici
Name[xx]=xxKommander Editorxx
Exec=kmdr-editor %F
Icon=kmdr-editor
Type=Application
Comment=Dynamic Dialog Editor
Comment[ca]=Editor de diàlegs dinàmics
Comment[cs]=Dynamický dialogový editor
Comment[da]=Dynamisk dialogeditor
Comment[de]=Ein dynamischer Dialogeditor
Comment[el]=Διορθωτής δυναμικών διαλόγων
Comment[en_GB]=Dynamic Dialogue Editor
Comment[es]=Editor de diálogos dinámicos
Comment[et]=Dünaamiliste dialoogide redaktor
Comment[fa]=ویرایشگر گفتگوی متغیر
Comment[fr]=Éditeur dynamique de boîtes de dialogue
Comment[hu]=Dinamikus párbeszédablak-szerkesztő
Comment[it]=Editor per le maschere dinamiche
Comment[pt]=Editor de diálogos dinâmicos
Comment[pt_BR]=Editor de Diálogo Dinâmico
Comment[ru]=Динамический редактор диалогов
Comment[sr]=Динамички уређивач дијалога
Comment[sv]=Editor för dynamiska dialogrutor
Comment[tr]=Pencere Düzenleyici
Comment[xx]=xxDynamic Dialog Editorxx
MimeType=application/x-kommander
Categories=Qt;KDE;Development
