[Desktop Entry]
Encoding=UTF-8
Name=Kommander Editor
Exec=kmdr-editor %F
Icon=kmdr-editor
Type=Application
Comment=Dynamic Dialog Editor
MimeType=text/kmdr
Categories=QT;KDE;TextEditor
