[Desktop Entry]
Encoding=UTF-8
Name=Widgets
Name[ca]=Estris
Name[cy]=Celfigion
Name[da]=Kontroller
Name[et]=Elemendid
Name[fi]=Elementit
Name[fr]=Éléments graphiques
Name[ga]=Giuirléidí
Name[hu]=Grafikai elemek
Name[ja]=ウィジェット
Name[pl]=Elementy interfejsu
Name[pt]=Elementos
Name[pt_BR]=Janelas
Name[ru]=Виджеты (элементы интерфейса)
Name[sl]=Gradniki
Name[sr]=Контроле
Name[sr@Latn]=Kontrole
Name[sv]=Grafiska komponenter
Name[ta]=சின்னப் படங்கள்
Name[tg]=Вусъатот
Name[tr]=Bileşenler
Name[zh_CN]=部件
Exec=widgets %i %m -caption "%c"
Type=Application
Terminal=0
