[Desktop Entry]
Name=Widgets
Name[br]=Widgetoù
Name[ca]=Estris
Name[cs]=Widgety
Name[cy]=Celfigion
Name[da]=Kontroller
Name[el]=Γραφικά συστατικά
Name[et]=Vidinad
Name[fa]=عناصر
Name[fi]=Elementit
Name[ga]=Giuirléidí
Name[ja]=ウィジェット
Name[ko]=위젯
Name[lt]=Valdikliai
Name[lv]=Sīkrīki
Name[ms]=Wijet
Name[ne]=विजेट
Name[oc]=Largor
Name[pa]=ਵਿਦਗਿਟ
Name[pl]=Elementy interfejsu
Name[pt]=Elementos
Name[pt_BR]=Janelas
Name[ro]=Controale
Name[ru]=Виджеты (элементы интерфейса)
Name[sl]=Gradniki
Name[sv]=Grafiska komponenter
Name[ta]=சின்னப் படங்கள்
Name[tg]=Васеъкуниҳо
Name[th]=วิดเจ็ต
Name[tr]=Parçacıklar
Name[uk]=Віджети
Name[x-test]=xxWidgetsxx
Name[zh_CN]=部件
Exec=widgets %i  -caption "%c"
Type=Application
Terminal=false
