# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmdr-executor %F
Icon=kmdr-executor
Comment=Executor for Kommander dialogs
Comment[da]=Udfører Kommander's dialoger
Terminal=0
Name=Kommander Executor
MimeType=application/x-kommander
