# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmdr-executor %F
Icon=kmdr-executor
DocPath=executor/index.html
Comment=Executor for Kommander dialogs
Comment[ca]=Executor per a diàlegs de Kommander
Comment[cs]=Spouštěč dialogů Kommanderu
Comment[da]=Udfører Kommander-dialoger
Comment[en_GB]=Executor for Kommander dialogues
Comment[et]=Kommanderi dialoogide käivitaja
Comment[fa]=مجری گفتگوهای کماندر
Comment[hu]=Futtatóprogram Kommander párbeszédablakokhoz
Comment[it]=Esecutore per maschere di Kommander
Comment[pt]=Executor dos diálogos do Kommander
Comment[pt_BR]=Executor para diálogos do Kommander
Comment[ru]=Запуск диалогов Kommander
Comment[sr]=Извршилац за Kommander-ове прозоре
Comment[sv]=Körning av Kommanders dialogrutor
Comment[tr]=Kommander pencereleri için başlatıcı
Comment[xx]=xxExecutor for Kommander dialogsxx
Terminal=0
Name=Kommander Executor
Name[ca]=Executor Kommander
Name[cs]=Spouštěč Kommanderu
Name[fa]=مجری کماندر
Name[hu]=Kommander futtató
Name[it]=Esecutore per Kommander
Name[pt]=Executor do Kommander
Name[pt_BR]=Executor do Kommander
Name[ru]=Запуск программ через Kommander
Name[sr]=Kommander извршилац
Name[tr]=Kommander Başlatıcı
Name[xx]=xxKommander Executorxx
MimeType=application/x-kommander
Hidden=true
