# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmdr-executor %F
Icon=kmdr_executor
Comment=Executor for Kommander dialogs
Comment[fr]=Exécuteur de boîtes de dialogue de Kommander
Comment[x-test]=xxExecutor for Kommander dialogsxx
Terminal=false
Name=Kommander Executor
Name[fr]=Exécuteur de Kommander
Name[x-test]=xxKommander Executorxx
MimeType=application/x-kommander
