# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmdr-executor %F
Icon=kommander
Comment=Executor for Kommander dialogs
Terminal=false
Name=Kommander Executor
MimeType=application/x-kommander;
