# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmdr-executor %F
Icon=kommander
Comment=Executor for Kommander dialogs
Comment[bg]=Изпълнение на диалогови прозорци на Kommander
Comment[bs]=Izvršilac Kommander dijaloga
Comment[ca]=Executor per a diàlegs de Kommander
Comment[ca@valencia]=Executor per a diàlegs de Kommander
Comment[cs]=Spouštěč dialogů Kommanderu
Comment[da]=Udfører Kommanders dialoger
Comment[de]=Ausführung von Kommander-Dialogen
Comment[el]=Εκτελεστής για διαλόγους Kommander
Comment[en_GB]=Executor for Kommander dialogues
Comment[es]=Lanzador de cuadros de diálogo de Kommander
Comment[et]=Kommanderi dialoogide rakendaja
Comment[eu]=Kommander-en elkarrizketen exekutatzailea
Comment[fa]=مجری محاوره‌های Kommander
Comment[fi]=Komentodialogien rakentaja
Comment[fr]=Exécuteur de boîtes de dialogue de Kommander
Comment[ga]=Tionscnóir dialóg Kommander
Comment[gl]=Executor para os diálogos de Kommander
Comment[he]=מפעיל עבור תיבות דו שיח של Kommander
Comment[hu]=Futtatómodul Kommander-szkriptekhez
Comment[is]=Executor fyrir Kommander glugga
Comment[it]=Esecutore per maschere di Kommander
Comment[ja]=Kommander ダイアログ用の Executor
Comment[kk]=Kommander диалогтарын орындау
Comment[ko]=Kommander 대화상자 실행기
Comment[lt]=Kommander dialogų vykdyklė
Comment[lv]=Kommander logu darbinātājs
Comment[ms]=Pelaksana untuk dialog Kommander
Comment[nb]=Kjører for Kommander-dialoger
Comment[nds]=Föhrt Kommander-Dialogen ut
Comment[ne]=कमाण्डरको संवादका लागि निर्वाहक
Comment[nl]=Kommander-dialogen uitvoeren
Comment[nn]=Køyreprogram for Kommander-vindauge
Comment[pl]=Uruchamianie z okien dialogowych Kommandera
Comment[pt]=Motor de Execução das Janelas do Kommander
Comment[pt_BR]=Executor para diálogos do Kommander
Comment[ro]=Executor pentru dialogurile Kommander
Comment[ru]=Выполнение диалогов Kommander
Comment[sk]=Spúštač pre Kommander dialógy
Comment[sl]=Izvajalnik za pogovorna okna Kommanderja
Comment[sv]=Körning av Kommander-dialogrutor
Comment[ta]=Kகட்டளை உரையாடல் நிகழ்த்துபவர்
Comment[tg]=Иҷрокунанда барои диалогҳои Kommander
Comment[th]=สำหรับประมวลผลกล่องโต้ตอบ Kommander
Comment[tr]=Kommander diyalogları için çalıştırıcı
Comment[uk]=Система запуску для вікон Kommander
Comment[x-test]=xxExecutor for Kommander dialogsxx
Comment[zh_CN]=Kommander 对话框执行器
Comment[zh_HK]=Kommander 對話盒的運行程式
Comment[zh_TW]=Kommander 對話盒的運行程式
Terminal=false
Name=Kommander Executor
Name[bg]=Изпълнение на Kommander
Name[br]=Aozer Kommander
Name[bs]=Izvršilac Kommander-a
Name[ca]=Executor Kommander
Name[ca@valencia]=Executor Kommander
Name[cs]=Spouštěč Kommanderu
Name[da]=Kommander Executor
Name[de]=Kommander-Exekutor
Name[el]=Εκτελεστής Kommander
Name[en_GB]=Kommander Executor
Name[es]=Ejecutor Kommander
Name[et]=Kommander Executor
Name[eu]=Kommander exekutatzailea
Name[fa]=مجری Kommander
Name[fi]=Komennon suorittaja
Name[fr]=Exécuteur pour Kommander
Name[ga]=Tionscnóir Kommander
Name[gl]=Executor de Kommander
Name[he]=Kommander מפעיל
Name[hne]=कमांडर चलइया
Name[hu]=Kommander-végrehajtó
Name[is]=Kommander Executor
Name[it]=Esecutore per Kommander
Name[ja]=Kommander Executor
Name[kk]=Kommander орындағышы
Name[ko]=Kommander 실행기
Name[lt]=Kommander vykdyklė
Name[lv]=Kommander darbinātājs
Name[ms]=Pelaksana Kommander
Name[nb]=Kommander-kjører
Name[nds]=Kommander-Executor
Name[ne]=कमाण्डर निर्वाहक
Name[nl]=Kommander Uitvoerder
Name[nn]=Kommander-køyring
Name[pl]=Kommander: uruchamianie
Name[pt]=Motor de Execução do Kommander
Name[pt_BR]=Executor do Kommander
Name[ro]=Executor Kommander
Name[ru]=Kommander
Name[sk]=Kommander spúštač
Name[sl]=Izvajalnik Kommander
Name[sv]=Kommander Executor
Name[ta]=Kகட்டளை நிகழ்த்துபவர்
Name[tg]=Иҷрокунандаи Kommander
Name[th]=โปรแกรมประมวลผล Kommander
Name[tr]=Kommander Executor
Name[uk]=Система запуску Kommander
Name[x-test]=xxKommander Executorxx
Name[zh_CN]=Kommander 执行器
Name[zh_HK]=Kommander 執行器
Name[zh_TW]=Kommander 執行器
MimeType=application/x-kommander
